.music {
  &-image {
    width: 200px;
    height: 200px;
    border-radius: 4px;
  }
  &-item {
    width: 25%;
    display: inline-block;
    // height: 200px;
    margin-bottom: 25px;
  }
  &-name {
    width: 100%;
    overflow: hidden;
  }
  &-list {
    overflow: hidden;
    flex-wrap: wrap;
  }
}
